@import 'breakpoints';

$primaryColor: #ff9aba;
$color-1: pink;
$color-2: white;

@mixin gradient($color1, $color2) {
    background: linear-gradient(to bottom, $color-1,$color-2)
}


* {
    margin: 0;
    padding: 0;
 
}

li {
        list-style: none;
    }
html {
    @include gradient($color-1, $color-2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Shrikhand', sans-serif;
}
body {
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 35px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive, sans-serif;
    
}


.main-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
   
    box-sizing: border-box;

    @include xs {
        padding: 5px;
        font-size: 10px;
        
    }
    

 

    .income-description,
    .expense-description{
        color: whitesmoke;
        background-color: $primaryColor;
        font-size: 20px;

        @include xs {
            padding: 5px;
            font-size: 10px;
            
        }
    
       
    }
    .income-amount {
        color: green;
    }
    .expense-amount {
        color: red;
    }
  
    label {
        display: block;
        padding: 10px;
    }
    

    input {
        margin: 5px;
        @include xs {
            padding: 1px;
            font-size: 10px;
            
        }
    
        
    }

    button {

        @include xs {
            padding: 1px;
            font-size: 10px;
            
            
            
        }
    

    }

    

    .income {
        
        display: flex;
        flex-direction: column;
    }

    .expense {
        
    }

}

.budget {
    

    .total-budget {
        color: white;
        background-color: $primaryColor;
       
        width: 200px;
        margin: 0 auto;
        padding: 50px;
        text-align: center;
        font-size: 20px;

        @include xs {
            padding: 5px;
            font-size: 10px;
            
        }
    
    }
    label {
        display: block;
        padding: 10px;
    }
    
    
}

